body {
	color: #2F3435;
}

html {
}

main {
	max-width: 1200px;
	margin: 0 auto;
}

header nav ul {
	background-color:  #F0EDE5;
	border-bottom: #DBCCBE 2px solid;
	/* inline block 4px Íâ¾àÏû³ý */
	font-size: 0;
}

header nav ul li {
	display: inline-block;
	font-size: 14px ;
	padding: 12px 0;
	text-align: center;
	width: 25%;
}

/* 0-0-1 */
article {
	width: 200px !important;	/* !important: 1-0-0-0-0 */
}

/* 1-0-0 */
#colorGroup {
	width: 300px;
}

/* 0-1-0 */
.colorPalette {
	background-color: #ccc;
	box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.1);
	width: 400px;
}


.colorPalette .color {
	color: #fff;
	font-size: 16px;
	font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", "Î¢Ü›ÕýºÚów", "PingFang SC", "Noto Sans CJK TC", sans-serif;
	line-height: 2;
	margin: 0;
	text-align: center;
}

/* 0-2-0 */
.color.color1 {
	background-color: #1D4E89;
}

/* 0-1-0 */
.color2 {
	background-color: #BFD833;
}

.color3 {
	background-color: #F26B5B;
}

.color4 {
	background-color: #F0EDE5;
}

.color5 {
	background-color: #2F3435;
	height: 150px;
}

/* 0-0-1 */
figure {
	background-color: #F0EDE5;
	border-radius: 4px;
	padding: 16px;
	width: 300px;
}

figure figcaption {
	font-size: 24px;
	padding-top: 16px;
	text-align: center;
}
